.container {
  display: flex;
  justify-content: center;
}
.inp {
  position: fixed;
  padding: 20px;
}
.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 60px;
  justify-content: center;
}
img {
  width: 200px;
  height: 200px;
}
.image {
  padding: 10px;
}
